.background-slide{
  background-image: url('images/bg.png');
  background-repeat: repeat;
}

.content{
  margin-top: 10%
}
.content.slide2{
  margin-top: 5%
}

.input-lg{
  height: 160px;
  font-size: 50px
}

.button-layout{
  position: relative;
  text-align: right;
  margin: 2em;
  z-index: 99999;
}

.btn-primary{
  background-color: #0275d8;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 16px 30px;
    font-size: 28px;
    line-height: 1.3333333;
    border-radius: 2px;
}

#showNum{
  color: red;
  text-decoration: underline;
}
.processed{
  width: 100%;
  height: 580px;
  overflow: auto;
  overflow-x: hidden;
}
.process{
    width: 100%;
    height: 480px;
    overflow: auto;
    overflow-x: hidden;
}
.inq{
  margin-bottom: 5px;
  text-align: left;
}
.inq input{
  width: 20%
}
.inq label{
  font-size: 24px;
  color: white;
}
.rowp{
  margin-right: 5px;
  margin-bottom: 5px;
}
h3{
  color:white;
  margin-left: 5px;
}

.column{
  text-align: center;
}
h4{
  color: white;
  margin-top: 11px;
  height: 60px;
}
.btn-group{
  width: 100%;
  height: 60px;
  margin: 0 0 10px;
}
.btn-danger{
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
p{
  color:white;
  height: 60px;
}
